{% extends 'base.html'%}
{% block content %}
<form method="POST">
    <h3>Login</h3>
    <div class="form-group">
        <label for="name">Username</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Enter username" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
        <br />
        <div>
            <button class="btn btn-primary" type="submit">Login</button>
            <p> Don't have an account? <a href="{{url_for('auth.register')}}" style="color: #6D2936;text-decoration: none;">Sign up</a></p>
        </div>
    </div>
</form>
{% endblock %}