{% extends 'base.html'%}
{% block content %}
<div class="blogs">
    <h1 class="align-center"></h1>
    {% for blog in blogs %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="/blog_display/{{blog.user.username}}">{{blog.user.username}}</a>
            {% if user.id ==blog.writer %}
            <a href="/delete_blog/{{blog.id}}"><button type="button" class="btn btn-sm btn-primary">Delete</button></a>
        </div>
        {% endif %}
        <div class="card-body">{{blog.blog}}</div>
        <form action="/create_comment"  method="POST"class="input-group mb-3"></form>
        <div class="card-footer text-muted"></div>
    </div>
    <br/>{% endfor%}
    <div class = "align-center">
        <a href="/new_blog"><button type="button" class="btn btn-sm btn-primary">Create a blog</button></a>

    </div>
</div>

{% endblock %}